<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdu.blog.mapper.ArticleTagMapper">

    <select id="listArticleTag" resultType="com.hdu.blog.entity.ArticleTag">
        select * from article_tag
    </select>

    <select id="getArticleByTag" parameterType="int" resultType="com.hdu.blog.entity.Article">
        select * from article_tag where article_tag_id = #{id}
    </select>
</mapper>