<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hdu.blog.mapper.CategoryMapper">


    <resultMap id="categoryMap" type="Category">
        <result property="category_id" column="category_id"/>
        <result property="category_name" column="category_name"/>
        <result property="category_description" column="category_description"/>
        <result property="create_time" column="create_time"/>
        <result property="update_time" column="update_time"/>

        <collection property="articles" ofType="Article">
            <result property="article_id" column="article_id"/>
            <result property="article_title" column="article_title"/>
            <result property="article_content" column="article_content"/>
            <result property="article_time" column="article_time"/>
            <result property="article_viewcount" column="article_viewcount"/>
            <result property="article_commentcount" column="article_commentcount"/>
            <result property="create_time" column="create_time"/>
            <result property="update_time" column="update_time"/>
        </collection>
    </resultMap>

    <select id="listCategory" resultMap="categoryMap">
        select c.*,a.* from category c
        inner join article a on c.category_id = a.category_id
    </select>

<!--    获取指定分类和其下的文章-->
    <select id="getCategory" parameterType="int" resultMap="categoryMap">
        select c.*,a.* from category c
        inner join article a on c.category_id = a.category_id
        where c.category_id = #{id}
    </select>

<!--    获取所有分类的基本信息-->
    <select id="getAllCategorys" resultType="com.hdu.blog.entity.Category">
        select * from category
    </select>

<!--    增加一个类别-->
    <insert id="addCategory" useGeneratedKeys="true"  keyProperty="category_id" parameterType="Category">
        insert into category (category_name,category_description,user_id)
        values (#{category_name},#{category_description},#{user.user_id})
    </insert>

<!--    修改一个类别的名称或描述-->
    <update id="updateCategory" parameterType="Category">
        update category set
        category_name = #{category_name},
        category_description = #{category_description},
        user_id = #{user.user_id}
        where category_id = #{id}
    </update>

<!--    删除一个类别-->
    <delete id="deleteCategory" parameterType="int">
        delete from category where category_id = #{id}
    </delete>
</mapper>