<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdu.blog.mapper.CommentMapper">


    <select id="getCommentByArticle" parameterType="int" resultType="com.hdu.blog.entity.Comment">
        select * from comment INNER JOIN article ON comment.article_id = article.article_id where article.article_id = #{id}
    </select>

    <!--    新增评论，在comment表中插入数据-->
    <insert id="publishComment" useGeneratedKeys="true" keyProperty="comment_id" parameterType="Comment">
        insert into comment (comment_content,article_id,user_id)
        values (#{comment_content},#{article.article_id},#{user.user_id})
    </insert>

</mapper>